html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ngăn tràn cả X và Y */
}

.ant-layout {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Đảm bảo không tràn trong layout */
}

.ant-layout-content {
  overflow: auto; /* Chỉ cho phép cuộn nội dung nếu cần */
}
