html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ngăn chặn cuộn toàn bộ trang */
}

/* .swal2-container-high-z {
  z-index: 99999 !important;
} */
#root {
  height: 100vh; /* Đặt chiều cao toàn bộ trang */
}

.Card {
  max-height: calc(100vh - 100px); /* Giới hạn chiều cao của Card */
  overflow-y: auto; /* Cho phép cuộn nội dung bên trong Card */
}
/* Ngừng đóng khi nhấn ngoài modal */
[data-state="open"] [data-slot="dialog-overlay"] {
  pointer-events: none; /* Tắt sự kiện click trên backdrop (overlay) */
}

/* Cho phép các nút trong modal nhận sự kiện */
[data-state="open"] [data-slot="dialog-content"] {
  pointer-events: auto; /* Bật lại sự kiện cho nội dung modal */
}
